{% set menu = { main : [
						{
							title : "Main ",roles:["ROLE_USER"], submenu : [
									{ title: "Dashboard", icon:"fa-solid fa-table-columns", path: path("dashboard"), roles:["ROLE_USER"],tab:"dashboard"},
									]
						},{
							title : "Account ",roles:["ROLE_USER"], submenu : [
									{ title: "Logout", icon:"fa-solid fa-arrow-right-from-bracket", path: path("app_logout"), roles:["ROLE_USER"],tab:"logout"}
									]
						}
				 	]
				}						
	%}


<div class="sidebar" id="side_nav">
	<div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
		<h1 class="fs-4">
			<span class="bg-white rounded shadow px-2 me-2">ETD</span>
			<span class="text-white">Store Manager</span>
		</h1>
		<button class="btn d-md-none d-block close-btn px-1 py-0 text-white">
			<i class="fas fa-stream"></i>
		</button>
	</div>

	{% for categories in menu['main'] %}
		<hr class="h-color mx-2">
		<ul class="list-unstyled px-2">
			{% for link in categories.submenu %}
				<li class="">
					<a href="{{link.path}}" class="text-decoration-none px-3 py-2 d-block">
						<i class="{{link.icon}}"></i>
						{{link.title}}</a>
				</li>
			{% endfor %}
		</ul>

	{% endfor %}

</div>
